@use "../1-base/variables";

#navbar {
	padding: 15px;
	border-bottom: 1px solid variables.$primary-color;
	margin-bottom: 15px;

	ul {
		display: flex;
		justify-content: flex-end;

		li {
			margin: 0 10px;
		}
		a {
			color: white;
			transition: 0.5s;

			&:hover {
				color: orange;
			}
		}
	}
}
