@mixin special {
	background-color: rgb(234, 224, 38);
	color: rgb(224, 6, 6);
	padding: 10px;
	border: 3px dotted red;

	&:hover {
		border-color: blue;
		color: blue;
	}
}

// Mixin with parameters
@mixin spacing($padd, $marg) {
	padding: $padd;
	margin: $marg;
}

@mixin border($style, $color, $width: 1px) {
	border: $width $style $color;
}
