@import "variables";
@import "button";
@import "mixins";
@import "functions";

body {
	margin: 20px;
}

.p-esp {
	@include special;
}

h2 {
	@include special;
}

%font-styles {
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
		sans-serif;
	font-size: 2rem;
	letter-spacing: 1.2rem;
	text-transform: uppercase;
}

.esp-small {
	@include spacing(10px, 10px);
	@include border(solid, green, 5px);
	@extend %font-styles;
	color: text-color(100);
}

.esp-medium {
	@include spacing(20px, 20px);
	@include border(dotted, blue);
	@extend %font-styles;
}
.esp-large {
	@include spacing(30px, 30px);
	@include border(dotted, red, 30px);
}

ul {
	width: 100%;

	li {
		font-size: font-size-list();
		background-color: aqua;
		margin: margin-function($m-bottom: 4rem, $m-right: auto, $m-left: auto);
		width: calc-width(30px);
	}
}
