$bg-color: rgb(148, 69, 69);
$title-background: #333;
$main-color: #fff;

.container {
	background-color: $bg-color;
	padding: 20px;

	#title {
		background-color: $title-background;
		color: $main-color;
		text-align: center;
		padding: 10px;
	}
}

.container-bottom {
	background-color: rgb(59, 128, 90);
	padding: 20px;

	h2 {
		text-align: center;
		background-color: #333;
		padding: 10px;
		color: rgb(247, 247, 247);
	}
}
